<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">org.gjt.mm.mysql.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/sobreira_games</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

		<!-- <property name="hibernate.connection.driver_class">org.gjt.mm.mysql.Driver</property> 
			<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/sobreira_games</property> 
			<property name="hibernate.connection.username">sobreira_sowgame</property> 
			<property name="hibernate.connection.password">sowgame</property> <property 
			name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property> -->


		<mapping
			class="sowbreira.f1mane.paddock.entidades.persistencia.JogadorDadosSrv" />
		<mapping
			class="sowbreira.f1mane.paddock.entidades.persistencia.CorridasDadosSrv" />
		<mapping
			class="sowbreira.f1mane.paddock.entidades.persistencia.CarreiraDadosSrv" />

		<mapping class="sowbreira.f1mane.paddock.entidades.persistencia.Campeonato" />
		<mapping
			class="sowbreira.f1mane.paddock.entidades.persistencia.CorridaCampeonato" />
		<mapping
			class="sowbreira.f1mane.paddock.entidades.persistencia.DadosCorridaCampeonato" />

	</session-factory>
</hibernate-configuration>
