@CHARSET "UTF-8";
body {
 margin: 0;
 /*background: url(/f1mane/rest/letsRace/png/f1bg);*/
 background-size: 100%,100%;
 width: 100%;
 height: 100%;
 background-repeat:no-repeat;
 font-family: sans-serif;
}

.img-center {
    margin: 0 auto;
}
.containerPadless {
    padding-right: 0px; 
    padding-left: 0px; 
}

.img-responsive-line{
    display: inline;
}

.loader {
  position: absolute;
  background-color : white;
  left: 53%;
  top: 50%;
  z-index: 1;
  width: 200px;
  height: 200px;
  margin: -75px 0 0 -75px;
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid grey;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.capa{
	position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 1;
    top: 0;
    left: 0;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

