@CHARSET "UTF-8";
@media (orientation: landscape) {
	body {
	 margin: 0;
	 background: url(../img/landscape.jpg);
	 background-size: 100%,100%;
	 background-repeat:no-repeat;
     background-attachment: fixed;	 	 
	 width: 100%;
	 height: 100%;
	 font-family: sans-serif;
	}
	.loader {
	  position: absolute;
	  background-color : transparent;
	  left: 50%;
	  top: 50%;
	  z-index: 1;
	  width: 200px;
	  height: 200px;
	  margin: -75px 0 0 -75px;
	  border: 5px solid #f3f3f3;
	  border-radius: 50%;
	  border-top: 5px solid grey;
	  width: 120px;
	  height: 120px;
	  -webkit-animation: spin 2s linear infinite;
	  animation: spin 2s linear infinite;
	}	
}

@media (orientation: portrait) {
	body {
	 margin: 0;
	 background: url(../img/portrait.jpg);
	 background-size: 100%,100%;
	 background-repeat:no-repeat;
	 background-attachment: fixed;
	 width: 100%;
	 height: 100%;
	 font-family: sans-serif;
	}
	.loader {
	  position: absolute;
	  background-color : transparent;
	  left: 55%;
	  top: 50%;
	  z-index: 1;
	  width: 200px;
	  height: 200px;
	  margin: -75px 0 0 -75px;
	  border: 5px solid #f3f3f3;
	  border-radius: 50%;
	  border-top: 5px solid grey;
	  width: 120px;
	  height: 120px;
	  -webkit-animation: spin 2s linear infinite;
	  animation: spin 2s linear infinite;
	}	
}

.img-center {
    margin: 0 auto;
}
.containerPadless {
    padding-right: 0px; 
    padding-left: 0px; 
}

.img-responsive-line{
    display: inline;
}

.capa{
	position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1;
    top: 0;
    left: 0;
}

.transparent {
    background-color: transparent!important;
}
.alerta{
	z-index: 0;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}